{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block page %}{{ title }}{% endblock %}
{% block content %}
<div class="container">
    <p>Please, log in using the following form:</p>
    <form method="post" action="/login/">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-3">
                {% if not field.is_hidden %}
                   <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% endif %}
                {{ field }}
                {% for error in field.errors %}
                    <small class="form-text text-danger">{{ error|escape }}</small>
                {% endfor %}
            </div>
        {% endfor %}
        {% for error in form.non_field_errors %}
            <small class="form-text text-danger">{{ error|escape }}</small>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}