{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block page %}{{ title }}{% endblock %}
{% block content %}
<div class="container">
    <p>Please, log in using the following form:</p>
    <form method="post" action="/login/">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-3">
                <label class="form-label">{{ field.label }}</label>
                {% if field.name == 'username' %}
                    <input type="text" name="{{ field.name }}" value="{% if field.value %}{{ field.value }}{% endif %}" required class="form-control">
                {% elif field.name == 'password' %}
                    <input type="password" name="{{ field.name }}" value="{% if field.value %}{{ field.value }}{% endif %}" required class="form-control">
                {% endif %}
                {% for error in field.errors %}
                    <p class="text-danger">{{ error|escape }}</p>
                {% endfor %}
            </div>
        {% endfor %}
        {% for error in form.non_field_errors %}
            <p class="text-danger">{{ error|escape }}</p>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}