{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block page %}{{ title }}{% endblock %}
{% block content %}
<div class="container">
    <p>{{ question.text }}<br>
    Author: {{ question.author }}.
    Added: {{ question.added_at }}
    Rating: {{ question.rating }}.
    Likes: {{ question.likes.count }}.</p>
    {% if answers %}
        <hr>
        <p><b>Answers:</b></p>
        {% for answer in answers %}
        <hr>
        <p>{{ answer }}<br>
        Author: {{ answer.author }}.
        Added: {{ answer.added_at }}</p>
        {% endfor %}
    {% endif %}
    <hr>
    <p><b>Please, answer using the following form:</b></p>
    <form method="post" action="{{ question.get_url }}">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-3">
                {% if not field.is_hidden %}
                   <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% endif %}
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}