{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block page %}{{ title }}{% endblock %}
{% block content %}
<div class="container">
    <p>{{ question.text }}<br>
    Author: {{ question.author }}.
    Added: {{ question.added_at }}
    Rating: {{ question.rating }}.
    Likes: {{ question.likes.count }}.</p>
    {% if answers %}
        <hr>
        <p><b>Answers:</b></p>
        {% for answer in answers %}
        <hr>
        <p>{{ answer }}<br>
        Author: {{ answer.author }}.
        Added: {{ answer.added_at }}</p>
        {% endfor %}
    {% endif %}
    <hr>
    <p><b>Please, answer using the following form:</b></p>
    <form method="post" action="{{ question.get_url }}">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-3">
                {% if field.name == 'text' %}
                <label class="form-label">{{ field.label }}</label>
                <textarea name="{{ field.name }}" required class="form-control" rows="3"></textarea>
                {% elif field.name == 'question' %}
                <input name="{{ field.name }}" value="{{ question.id }}" type="hidden" class="form-control">
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}